section.services{
    font-family: "saira condensed", sans-serif;
    min-width: 100%;
    background-color: snow;
    margin-bottom: 4rem;
}

section.services h1{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    z-index: 998;
}

section.services div.service{
    overflow: hidden;
}

section.services div.service h2{
    text-align: center;
    text-transform: uppercase;
    line-height: 110%;
}

section.services div.service p{
    font-family: "saira", sans-serif;
    font-weight: 300;
    line-height: 120%;
}

@media (max-width: 340px){
  
    section.services{
        width: 100%;
        background-color: snow;
    }

    section.services h1{
        display: block;
        padding-top: 1rem;
        font-size: 5.1rem;
        margin: 1rem 5rem 1rem 5rem;
    }

    section.services div.service{
        display: block;
    }

    section.services div.service img{
        display: block;
        height: 50%;
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        
    }

    section.services div.service h2{
        display: block;
        font-size: 4.1rem;
        margin: 0 6rem 4rem;
    }

    section.services div.service p{
        display: inline-block;
        text-align: center;
        margin: 0 4rem;
        font-size: 2.7rem;
    }
}

@media (min-width: 341px) {

    section.services h1{
        display: block;
        padding-top: 1rem;
        font-size: 5.6rem;
        margin: 1rem 5rem 1rem 5rem;
    }

    section.services div.service{
        display: block;
    }

    section.services div.service img{
        display: block;
        height: 50%;
        width: 100%;
        max-width: 375px;
        margin: 0 auto;     
    }

    section.services div.service h2{
        display: block;
        font-size: 4.5rem;
        margin: 0 6rem 4rem;
    }

    section.services div.service p{
        display: inline-block;
        text-align: center;
        margin: 0 4rem;
        font-size: 3rem;
    }
}

@media (min-width: 360px) and (orientation: portrait) {

    section.services h1{
        font-size: 4.5rem;
    }

    section.services div.service h2{
        font-size: 3.6rem;
        margin: 0 3rem 3rem;
    }

    section.services div.service p{
        margin: 0 4rem;
        font-size: 2.4rem;
    }
}

@media (min-width: 680px) and (orientation: portrait) {

    section.services h1{
        font-size: 4rem;
        margin: 2rem;
    }

    section.services div.service h2{
        font-size: 3.2rem;
        margin: 1rem 2rem;
    }

    section.services div.service p{
        margin: 0 5rem;
        font-size: 2.2rem;
    }
}

@media (min-width: 730px) and (orientation: portrait) {

    section.services h1{
        font-size: 3.6rem;
        margin: 1rem;
    }

    section.services div.service h2{
        font-size: 2.8rem;
        margin: 1rem 1rem;
    }

    section.services div.service p{
        margin: 0 5rem;
        font-size: 2.2rem;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {


    section.services{
        padding: 0 0.5%;
        overflow: hidden;
    }

    section.services div.service{
        float: left;
        max-width: 33%;
       padding: 0 1%;
    }

    section.services div.service img{
        display: block;
        /* height: 50%; */
        width: 90%;
        max-width: 375px;
        margin: 0 auto;
        
    }


    section.services h1{
        font-size: 5.4rem;
        margin: 1rem;
    }

    section.services div.service h2{
        font-size: 2.8rem;
        margin: 4rem 1rem;
    }

    section.services div.service p{
        margin: 0 1rem;
        font-size: 2.2rem;
    }
}